body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #333;
}

nav {
  width: 100%;
  height: 43px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(243, 243, 243);
  z-index: 3;
  background-color: white;
}

nav *:hover {
  cursor: pointer;
}

#menu,
#brand {
  margin: 10px 20px;
}
#brand {
  height: 18px;
  font-size: 14.25px;
  line-height: 19px;
  letter-spacing: 0.7px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: black;
}
#brand a {
  text-decoration: none;
  color: inherit;
}
#brand a:hover {
  text-decoration: underline;
}
#search {
  margin: 15px;
}
#banner {
  margin: 20%;
}
nav button {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  height: 32px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6288a5;
  border: 1px solid #326891;
  cursor: pointer;
  border-radius: 3px;
  line-height: 11px;
  text-transform: uppercase;
  margin: 3px;
}
#subscribe-btn {
  margin-left: 8%;
  width: 89.5px;
}
#login-btn {
  width: 63.41px;
}
nav main {
  width: 1150px;
  margin: 0 auto;
}

header h1 {
  height: 80px;
  width: 100%;
  margin-top: 100px;
  display: inline-block;
  max-width: 346.152px;
  margin-left: 28%;
  color: #121212;
  font-weight: 700;
  font-style: italic;
}
header div {
  margin: 0 auto;
  max-width: 1004px;
  min-width: 600px;
  width: 70%;
}

header div img {
  width: 100%;
}

article {
  width: 80%;
  height: 100%;
  float: left;
}
.editors-pick-vertial {
  width: 20%;
  height: 1000px;
  float: right;
}

.editors-pick-vertial::after {
  content: "";
  clear: both;
}

.popular {
  width: 25%;
  float: right;
  margin: 0 2% 2% 0;
}

.popular::after,
main::after {
  content: "";
  clear: both;
}

footer {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  background: #157;
}

.copyright {
  width: 60%;
  height: 20%;
  background: #999;
  margin: 0 auto;
}

header > div > p {
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  text-align: left;
  font-size: 14px;
}
.light-gray {
  color: #888;
  font-size: 13px;
}
.social-media {
  width: 27px;
  background-color: #eee;
  text-align: center;
  border-radius: 100%;
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #eee;
  float: right;
  margin-left: 15px;
}
.social-media:hover {
  background-color: white;
  cursor: pointer;
}
article > section {
  margin-left: 33%;
  margin-right: 100px;
}
#by-dennis > h3 > span {
  text-decoration: underline;
  text-decoration-color: #ccc;
  color: #333;
}
#by-dennis > h3 > span:hover {
  text-decoration: none;
}

article > section:nth-of-type(1) span:nth-of-type(1) {
  color: #333;
  font-weight: 100;
}
.content {
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 17px;
  color: #222;
}
.in-inflation > * {
  float: left;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  width: 162px;
  height: 300px;
  margin: 10px 13px 50px 0;
}
.in-inflation > div:nth-child(4n) {
  width: 70px;
  overflow: hidden;
  margin-right: 0;
}
h3,
strong {
  color: black;
}
img[src*="inflation"] {
  height: 95px;
}
.in-inflation::after {
  content: "";
  clear: both;
}
hr {
  max-width: 85px;
  margin-left: 0;
  border-top: 1px solid black;
  text-align: left;
}
hr + p {
  font-weight: 500;
  font-size: 14px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}
iframe {
  margin-top: 30px;
  width: 560px;
  height: 315px;
  border: 0;
}
p.caption {
  color: #555;
  margin-top: 4px;
}

img[src*="telescope"] {
  height: 400px;
}

.article-footer a {
  text-decoration: none;
  color: #888;
}
.article-footer a:hover {
  text-decoration: underline;
}
.footer {
  margin-top: 30px;
}
button {
  height: 36px;
  background-color: rgb(98, 136, 165);
  color: white;
  font-weight: 600;
  margin: auto;
  padding: 5px 0px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
}
.footer > button {
  width: 330px;
}

button:hover {
  background-color: rgb(50, 104, 145);
}

#bottom {
  margin-top: 800px;
}
.editors-pick-vertial > div#top > h2 {
  font-size: 14px;
  color: black;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 15px;
  padding-bottom: 12px;
}

.editors-pick-vertial > div#top > div > img {
  width: 75px;
  margin-right: 5px;
  margin-bottom: 10px;
  float: left;
}

.editors-pick-vertial > div#top > div a {
  text-decoration: none;
  margin: auto 0 20px 10px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 17px;
  font-weight: 500;
  display: block;
}

.editors-pick-vertial > div#top > div a:hover {
  text-decoration: underline;
}

.editors-pick-vertial > div#top > div:last-of-type {
  background-color: #f6f6f6;
  height: 76px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}
.editors-pick-vertial > div#top > div:last-of-type img {
  margin-left: 10px;
}
.editors-pick-vertial > div#top::after {
  content: "";
  clear: both;
}
.editors-pick-vertial > div#bottom {
  margin-right: 40%;
}

.editors-pick-vertial > div#bottom button {
  width: 180px;
}
.editors-pick-vertial > div#bottom h2 {
  color: black;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 5px;
}

.editors-pick-vertial > div#bottom p {
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-weight: 500;
}

.more {
  height: 100%;
  width: 70%;
  float: left;
  margin: 18px 0 0 3%;
}

.more > * {
  float: left;
  width: 272px;
  height: 300px;
  margin-left: 3%;
}
.more > div > div > img {
  width: 100%;
  height: 181px;
}
.image-wrap > span {
  font-size: 10px;
  color: rgb(153, 153, 153);
  float: right;
}

.more > div > h2 {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  display: block;
  font-family: inherit;
  font-weight: 700;
}

.more > div > h2:hover {
  color: #666;
  cursor: pointer;
}
.more::after {
  content: "";
  clear: both;
}
.editors {
  margin-left: 5%;
  width: 70%;
  font-family: inherit;
  color: #000;
  font-size: 18px;
}
.editors > * {
  width: 272px;
  height: 300px;
  float: left;
}
.editors > div:nth-of-type(2) {
  margin-left: 4%;
  margin-right: 2.5%;
}
img[alt*="more"] {
  width: 100%;
}
.editors > div > h2 {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  display: block;
  font-family: inherit;
  font-weight: 700;
}
.editor-image-wrap > span {
  font-size: 10px;
  color: rgb(153, 153, 153);
  float: right;
}

.editors > div > h2:hover {
  color: #666;
  cursor: pointer;
}
h4 {
  border-top: 1px solid black;
  width: 900px;
  height: 32px;
  margin-left: 5%;
  padding-top: 19px;
  margin-top: 0;
}
h4:hover {
  text-decoration: underline;
  cursor: pointer;
}
h5 {
  width: 100px;
  border-top: 1px solid black;
}

.popular > p {
  border-top: 1px solid silver;
  margin-top: 10px;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}
h6 > span {
  border-top: 1px solid black;
  height: 32px;
  padding-top: 19px;
  margin-right: 25%;
  font-size: 14px;
  width: 240px;
  position: absolute;
  transform: translate(0px, -99px);
  width: 350px;
}
footer {
  width: 93%;
  height: 450px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 2.5px solid rgb(226, 226, 226);
  background: white;
}
#news,
#opinion,
#arts,
#living,
#more,
#subscribe {
  float: left;
  width: 13%;
  height: 100%;
  margin-right: 20px;
}
footer div:last-of-type {
  width: 20%;
  margin-left: 100px;
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 15px;
}

footer > div:first-of-type a {
  float: right;
  color: rgb(98, 136, 165);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}
footer > div > img {
  cursor: pointer;
}
footer > div:first-of-type a::after {
  content: "";
  clear: both;
}
#news h3,
#opinion h3,
#arts h3,
#living h3,
#more h3,
#subscribe h3 {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
  width: 150px;
  margin: 15px auto -15px 0;
}
footer ul {
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  list-style: none;
  margin-left: 0;
}
footer ul a {
  color: #333;
  text-decoration: none;
}
footer li {
  margin-left: -40px;
  cursor: pointer;
}
footer li:hover {
  text-decoration: underline;
}
#subscribe div {
  width: 100%;
  height: auto;
  margin: 10px 5px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#subscribe li {
  margin: 0;
  list-style: none;
  margin: 5px 0px;
  text-transform: capitalize;
  width: 150px;
}

#subscribe #sub-top li {
  margin: 0;
  list-style: none;
  margin: 5px 0px;
  color: rgb(0, 0, 0);
  display: inline-block;
  text-transform: capitalize;
  width: 165px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0px;
  text-decoration: none;
}

#subscribe #sub-top li:hover {
  text-decoration: underline;
}
div#sub-mid {
  margin-top: -10px;
  padding-bottom: 3px;
  width: 100%;
}
#subscribe #sub-mid ul {
  margin-top: 100px;
}
#subscribe #sub-bottom {
  margin-top: 20px;
  padding-top: -5px;
  border-top: 1px solid rgb(226, 226, 226);
}
#subscribe #sub-mid li,
#subscribe #sub-bottom li {
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 13px;
  line-height: 15px;
  text-decoration: none;
}

#subscribe #sub-mid li:hover,
#subscribe #sub-bottom li:hover {
  text-decoration: underline;
}
#sub-bottom {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
#other-links::after {
  content: "";
  clear: both;
}
footer {
  position: relative;
}
#copyright {
  position: absolute;
  bottom: 0px;
  margin: 12px auto 20px auto;
  border-top: 1px solid rgb(226, 226, 226);
  border-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
#copyright a {
  text-decoration: none;
  font-size: 11px;
  margin: 10px;
  color: rgb(153, 153, 153);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  padding: 5px 0px;
}

#copyright a:hover {
  text-decoration: underline;
}
